{% extends "index.html" %}
{% load static %}
{% block title %}
    <title>
        Netflix Kayıt ol
    </title>
{% endblock title %}

{% block content %}
    <div class="container">
        <form action="" method="POST" class="w-50 m-auto border p-5 mt-5 text-light" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center">Kayıt ol</h2>
            <label for="">Kullanıcı Adı</label>
            <input type="text" name="username" id="" class="form-control">
            <label for="">Email:</label>
            <input type="email" name="email" id="" class="form-control">
            <label for="">Profil Resmi</label>
            <input type="file" name="resim" id="" class="form-control">
            <label for="">Doğum Tarihi</label>
            <input type="date" name="date" id="" class="form-control">
            <label for="">Tc kimlilk numaranız:</label>
            <input type="number" name="tc" maxlength="11" id="" class="form-control">
            <label for="">Telefon numaranız</label>
            <input type="number" name="tel" maxlength="11" id="" class="form-control">

            <label for="">Şifre</label>
            <input type="password" name="password1" id="" class="form-control">
            <label for="">Şifre onay</label>
            <input type="password" name="password2" id="" class="form-control">
            <input type="submit" value="Kayıt ol" class="btn btn-primary mt-2">
        </form>
    </div>

{% endblock content %}